<!DOCTYPE html>
<html lang="en">

<head>
    <!--    Load Required CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!--    Load axios library and vue framework-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
    <h1>Hello, {{user_id}}!</h1>
    <div class="container">
        <div id="app">
            <v-app id="inspire">
                <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4" :width="325">
                    <v-text-field v-model="search" label="Search Contents" light flat solo-inverted
                        hide-details clearable clear-icon="mdi-close-circle-outline"></v-text-field>
                    <v-checkbox v-model="caseSensitive" light hide-details label="Case sensitive search"></v-checkbox>
                    <!--<v-treeview @update:active="load_data" :items="items" :dense="dense" :search="search"
                        :filter="filter" :selectable="selectable" :activatable="activatable" :hoverable="hoverable"
                        :open-on-click="openOnClick" :selected-color="selectedColor" :color="color" :shaped="shaped"
                        :rounded="rounded"></v-treeview>-->


                    <v-card max-width="500" class="mx-auto">

                        <v-list nav dense :search="search">
                            <v-list-item-group  color="primary">
                            <v-list-item v-for="file in files" :key="file.file_name" @click="loadPdfData(file.file_name, uid)">

                                <v-list-item-content>
                                    <v-list-item-title v-text="file.file_name">
                                    </v-list-item-title>
                                </v-list-item-content>

                            </v-list-item>
                            </v-list-item-group>

                        </v-list>

                    </v-card>
                </v-navigation-drawer>

                <v-content>
                    <h1>Hello, {{userid}}!</h1>
                    <a href='{{ url_for('logout')}}'>登出</a>
                    <iframe id="pdfViewer" src="127.0.0.1:5000/static/pdfjs-viewer/web/viewer.html" style="width: 100%; height: 100%;"
                        allowfullscreen="" webkitallowfullscreen="">
                    </iframe>
                </v-content>
            </v-app>
        </div>
    </div>
    <script>
        Vue.config.devtools = true;
        var vm = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                pdf_content: Blob,
                uid: '',
                dense: true,
                selectable: false,
                activatable: true,
                hoverable: true,
                openOnClick: true,
                shaped: false,
                rounded: false,
                color: 'primary',
                search: null,
                caseSensitive: false,
                selectedColor: 'accent',
                selectedColors: [
                    'accent',
                    'teal',
                    'red',
                    'success',
                    'warning lighten-2',
                ],
                items: [],
                org_array: [],
                files: '',
                selection: [],
                drawer: null,
            },
            created: function () {
                this.inIt();
            },

            mounted: function () {
            },

            computed: {
                filter() {
                    return this.caseSensitive
                        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
                        : undefined
                }
            },

            methods: {
                load_data: function () { inIt() },
                inIt: function () {
                    let self = this;
                    axios.get('http://127.0.0.1:5000/api/get_pdf_list').then(function (response) {
                        console.log(response.data);
                        self.files = response.data.pdf_file;
                        self.uid = response.data.user_id;
                    });
                },


                loadPdfData: function (name, uid) {
                    let pdfjsframe = document.getElementById('pdfViewer');
                    let self = this;
                    axios.get('http://127.0.0.1:5000/api/get_pdf_content', {params:{file_name: name, user_id: uid}}).then(function (response) {
                        
                        pdfData = self.base64ToUint8Array(response.data);
                        pdfjsframe.contentWindow.PDFViewerApplication.open(pdfData)
                        
                    });
                },


                base64ToUint8Array: function (base64) {

                    let raw = atob(base64);
                    let uint8Array = new Uint8Array(raw.length);
                    for (let i = 0; i < raw.length; i++) {
                        uint8Array[i] = raw.charCodeAt(i);
                    }
                    return uint8Array;
                }



            }


        })
    </script>